---
api_hostname: https://app.datadoghq.com
metric_max_length: 4096
trace_max_length_bytes: 16384
flush_max_per_body: 25000
debug: true
enable_profiling: true
interval: "10s"
key: "{{ getv "/dd/api/key" }}"

# Numbers larger than 1 will enable the use of SO_REUSEPORT, make sure
# this is supported on your platform!
num_workers: 1
num_readers: 1

percentiles:
{{ if exists "/percentiles" }}
{{ range (split (getv "/percentiles") ",") }}
    - {{.}}
{{ end }}
{{ else }}
  - 0.5
  - 0.75
  - 0.99
{{ end }}

aggregates:
{{ if exists "/aggregates" }}
{{ range (split (getv "/aggregates") ",") }}
    - "{{.}}"
{{ end }}
{{ else }}
 - "min"
 - "max"
 - "count"
{{ end }}

read_buffer_size_bytes: 2097152
stats_address: "{{ getv "/stats/address" }}"

{{ if exists "/tags" }}
tags:
{{ range (split (getv "/tags") ",") }}
    - "{{.}}"
{{ end }}
{{ end }}

udp_address: "{{ getv "/udp/address" }}"
{{ if ne (getv "/http/address") "disabled" }}
http_address: "{{ getv "/http/address" }}"
{{ end }}
forward_address: "{{ getv "/forward/address" }}"
